@import "tailwindcss";

.container {
  @apply mx-auto w-[93%] lg:w-[90%];
}

:root {
  font-family: var(--reddit-sans-font);
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@theme {
  --font-sans: "Reddit Sans", "san-serif";
  --color-primary: #085bcf;
  --color-secondary: #86b8ff;
  --color-alternative: #1570ef;
  --color-ebonyclay: #1d2939;
  --color-white: #fff;
  --color-black: #1e1e1e;
  --color-Grey1: #2d2e30;
  --color-Grey2: #eff5ff;
  --color-Grey3: #667085;
  --color-Grey4: #eff2f6;
  --color-Grey5: #f9fafb;
  --color-Grey6: #f2f4f7;
  --color-Grey7: #868a90;
  --color-Grey8: #9fa1a5;
  --color-Grey9: #2c2d2e;
  --color-Grey10: #787a7e;
  --color-Line: #e4e7ec;
  --shadow-3xl: 0px 4px 12px 0px #0000000d;
  --shadow-4xl: 0px 0px 28px 0px #0000001c;
  --shadow-5xl: 0px -1px 20px 0px #0000000f;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1800px;
  font-family: var(--reddit-sans-font);
  color: var(--color-Grey1);
  background: #fff;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 3.5rem;
  line-height: 1.1;
  font-weight: 700;
}

h3 {
  font-size: 2.25rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

em {
  color: var(--negative);
  font-size: inherit;
}

small {
  font-size: 0.875rem;
  font-weight: 400;
}

.card {
  border: solid 1px var(--color-Line);
  border-radius: 8px;
}

.zoomImg {
  transition: transform 0.4s ease-in-out;
}

.zoomImg:hover {
  transform: scale(1.1);
}

.scalling {
  animation: scaleIt 1s ease-in-out infinite forwards;
  transition: all;
}

@keyframes scaleIt {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

/* =====NAVBARR====== */

.navbarActive {
  color: var(--color-primary);
  /* text-decoration: underline;
  text-underline-offset: 8px; */
  font-weight: bold;
}

.navlinkActive,
.navlinkNotActive,
.navbarActive,
.navbarNotActive {
  padding: 0.6em 1em;
  font-size: 14px;
}

.navlinkActive,
.navlinkNotActive {
  border-radius: 999px;
  border: solid 1px var(--color-Grey6);
  background: var(--color-Grey5);
  min-height: 48px;
  padding: 8px 18px;
  display: flex;
  gap: 0.6em;
  justify-content: center;
  align-items: center;
}

.navlinkActive {
  background: color-mix(in sRGB, transparent 80%, var(--color-primary) 20%);
  color: var(--color-primary);
}
.navlinkActive [stroke] {
  stroke: var(--color-primary);
}

.navbarNotActive {
  color: var(--color-Grey1);
  font-weight: 500;
}

/* =====NAVBARR====== */

/* ====Btns==== */

.btn {
  min-height: 48px;
  padding: 12px 32px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  border-radius: 90px;
  letter-spacing: 0.112px;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pry-btn {
  background: var(--color-primary);
  color: var(--color-white);
}

.sec-btn {
  background: var(--Grey2);
  color: var(--Grey1);
}

.small-btn {
  background: var(--Grey7);
  color: var(--pryColor);
  font-size: 14px;
  font-weight: 500;
  padding: 6px 12px;
  display: grid;
  place-items: center;
  gap: 0.4em;
  border-radius: 90px;
  letter-spacing: -0.096px;
}

.outline-btn {
  border: solid 1px var(--color-Line);
  color: var(--Grey1);
}

/* ====Btns==== */

.studentHero {
  background: url("../public/images/student.png") top center no-repeat;
  background-size: cover;
}

/* ====Inputs Starts==== */
.form-controls:disabled {
  opacity: 0.3 !important;
}

.search {
  position: relative;
}

.search input {
  display: flex;
}

.searchIcon {
  position: absolute;
  font-size: 1.5rem;
  right: 3%;
  color: var(--color-Line);
}

.form-controls {
  display: block;
  width: 100%;
  padding: 0.69em 1em;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-ebonyclay);
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid var(--color-Line);
  border-radius: 4px;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  /* padding-left: 2em; */
}

input::placeholder {
  font-size: 13px;
  font-weight: 200;
  color: var(--color-ebonyclay) !important;
}

input[type="radio"],
input[type="checkbox"] {
  width: 1em;
  height: 1em;
  border: solid 1px var(--color-Grey2) !important;
}

input:checked[type="radio"],
input:checked[type="checkbox"] {
  width: 1em;
  height: 1em;
  border: solid 1px var(--color-Grey2);
  background-color: var(--color-primary);
}

textarea:focus,
select:focus,
input:focus {
  border: solid 2.1px var(--color-primary);
  outline: 0;
  border-radius: inherit;
}

label {
  font-size: 0.875rem;
  color: #2c2d2e;
  margin-bottom: 0.3em;
  font-weight: 400;
}

.inputWrapper {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .inputWrapper {
    width: 48%;
  }
}

@media screen and (max-width: 900px) {
  h1,
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.875rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.9rem;
  }

  .studentHero {
    background: url("../public/images/student.png") top center no-repeat;
    background-size: cover;
  }
}
